@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.header {
  position: relative;
  //background-image: url(img/bg_header_1.png);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  &__slide {
    //background-position: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &.slider-image-1 {
      background-image: url(img/slide-1.jpg);
    }
    &.slider-image-2 {
      background-image: url(img/slide-4.jpg);
    }
    &.slider-image-3 {
      background-image: url(img/bg_header_3.jpg);
    }
    &.slider-image-4 {
      background-image: url(img/bg_header_4.jpg);
    }
  }
  &__title {
    &_text {
      font-size: 34px;
      text-align: right;
    }
  }
  &__slider {
    //padding: 30px 0 55px;
    position: relative;
    &_info {
      position: relative;
      margin: 30px 0 0;
      padding: 92px 0 30px;
      background: rgba(255, 255, 255, 0.54);
    }
    .btn {
      padding: 22px 38px;
      margin: 0 0 241px auto;
    }
  }
  .slick {
    &-dots {
      width: unset;
      bottom: 55px;
      right: 18%;
    }
    &-dots li {
      width: 15px;
      height: 15px;
      background: #fff;
      border-radius: 50%;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &-dots li button:before {
      content: '';
    }
  }
  .slick-slider {
    margin: 0;
  }

  .slick-slide {
    text-align: center;
    margin: 0;
  }
}

.header .slick-dots li.slick-active {
  background: #7BAB34;
}

.cart {
  &__block {
    position: fixed;
    top: 155px;
    right: -238px;
    transition: .8s;
    z-index: 200;

    &:hover {
      right: 0;
    }
  }
  &__img_container {
    width: 98px;
    height: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    &:last-child {
      background-color: #7BAB34;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }
  }
  &__wrapper {
    display: flex;
    &_handle {
      cursor: default;
    }
  }
  &__text_container {
    width: 238px;
    height: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 12px;
    color: #7BAB34;
    &:first-child {
      background-color: #7BAB34;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
      color: #fff;
    }
    &_more {
      font-weight: bold;
      font-style: italic;
      margin-top: 4px;
      margin-bottom: 18px;
    }
    &_link {
      font-weight: bold;
      font-style: italic;
      margin-bottom: 18px;
      color: #fff;
    }
  }
  &_img {
    margin: 0 auto;
  }
  &__battery {
    position: relative;
    width: 24px;
    height: 39px;
    border-radius: 3px;
    box-sizing: content-box;
    &::before {
      display: inline-block;
      position: absolute;
      content: '';
      width: 8px;
      height: 2px;
      bottom: 39px;
      left: 6px;
      border: 2px solid #fff;
      border-bottom: 0;
      box-sizing: content-box;
    }
    &_cell {
      display: block;
      height: 7px;
      border: 2px solid #fff;
      border-top: 0;
      &.active {
        background: #fff;
      }
      &:first-child {
        border-top: 2px solid #fff;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
      }
      &:last-child {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .header__title_text {
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  .product .program__slide_name {
    text-align: center;
  }
  .cart__img_container {
    width: 60px;
    height: 60px;
  }
  .cart__text_container {
    height: 60px;
    &_more {
      margin-top: 2px;
      margin-bottom: 2px;
    }
  }
  .cart__block {
    cursor: pointer;
    &.open {
      right: 0;
    }

  }
}

